.moradia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    .casa .quarto .cama {
    flex: 0 1 150px;
    margin: 5px;
    }
    .casa {
    background-color: rgba(78, 102, 59, 0.5);
    border: 2px solid rgba(78, 141, 59, 0.9);
    }
    .card-title  {
        color: white;
    }
    .card-subtitle {
        color: white;
    
    }