<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>morasapp2.0</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        body {
            background: url('https://scontent-gru1-1.xx.fbcdn.net/v/t1.0-9/72990988_821955498219235_5065245534231461888_o.jpg?_nc_cat=108&_nc_sid=dd9801&_nc_ohc=0I-FmEyBEMcAX-KEopD&_nc_ht=scontent-gru1-1.xx&oh=4a9aaef32498ad4c2eec9598280585aa&oe=5F3E8BB2') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }



            {% block styles %}
            {% endblock %}
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        
    <script type="text/javascript" src="{{ url_for('static', filename='brython/brython.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='brython/brython_stdlib.js') }}"></script>
    {% block head %}
    {% endblock head %}
</head>

<body onload="brython()">



    <!-- <img src="..." class="img-fluid" alt="Responsive image"> -->

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Morasapp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('vagas.mapa')}}">Mapa <span
                                class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Pessoas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('morador.mostrar_todos_moradores')}}">Todas</a>
                            <a class="dropdown-item" href="{{url_for('morador.novo')}}">Nova pessoa</a>
                            <a class="dropdown-item" href="{{url_for('morador.deleta')}}">Deletar pessoa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" href="#">Quem é você?</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vagas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('vagas.mapa')}}">Mapa</a>
                            <a class="dropdown-item disabled" href="{{url_for('vagas.troca_cama')}}">Trocar camas</a>
                        </div>
                    </li>
                    {% if current_user.is_authenticated %}
                    <span class="navbar-brand mb-0 h1">Olá {{current_user.name}}! <a
                            href="{{url_for('logout')}}">sair</a></span>
                    {% else %}
                    <span class="navbar-brand mb-0 h1">Olá pessoa! </span>
                    {% endif %}
                    {% if current_user.name == '' %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            TI
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('vagas.fodasse')}}">Cria Vagas</a>
                            <a class="dropdown-item" href="{{url_for('cadastrar_user')}}">Cadastrar Usr</a>
                            <a class="dropdown-item" href="{{url_for('morador.ks20203')}}">Import</a>
                        </div>


                    </li>
                    {% endif %}



                </ul>

                <a href="{{ url_for( 'login' ) }}" class="btn btn-outline-success my-2 my-sm-0">Login</a>

            </div>
        </nav>
        {% block paginas %}
        {% endblock %}
    </div>
</body>

</html>