{% extends "base.html" %}

{% block paginas %}

    {% for nome in query %}
        <div>
            <div style="display:flex"><h1> {{nome.nome}} </h1> </div>
            <div style="display:flex"><b> Vaga: {{nome.vaga_id}} </b> </div>
        </div>
        <div>
            <div>
                <form action="/morador/deleta/" method="post">
                    <button name="cvvbn4jk" value="{{nome.id}}">Deletar</button>
                </form>
                <form action="/morador/alterar/" method="post">
                    <input type="button" value="Alterar" id="alterarvaga">
                    <div style="visibility: hidden" id="altvaga">
                        <input type="text" name="novonome" >
                        <button name="nome" value="{{nome.nome}}">Alterar</button> 
                    </div>
                </form>
                <form action="{{url_for("vagas.set_morador_em_vaga") }}" method="post">
                    <!-- <button id="setvaga">Set Vaga</button> -->
                    <input type="button" value="Set Vaga" id="setvaga">
                    <div style="visibility: hidden" id="textvaga">
                        <input type="text" name="vaga" >
                        <button name="cvvbn4jk" value="{{nome.id}}">setar vaga</button> 
                        <!-- <input type="submit"> -->
                    </div>
                </form>
               
            </div>
        </div>
       {% endfor %}

       
       
<script>

    var setvaga = document.getElementById("setvaga");
    var textvaga = document.getElementById("textvaga");
    
    var alterarvaga = document.getElementById("alterarvaga");
    var altvaga = document.getElementById("altvaga");
    
    setvaga.onclick = function() {
        textvaga.style.visibility = "visible";
    
    }
    alterarvaga.onclick = function() {
        altvaga.style.visibility = "visible";
    
    }
</script>

{% endblock %}