{% extends "base.html" %}

{% block head %}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock head %}
{% block styles %}
@import url('https://fonts.googleapis.com/css?family=Numans');



.container{
height: 100%;
align-content: center;
padding-top: 40px;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
{% endblock styles  %}
{% block paginas %}
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
                    <a  href="http://facebook.com/moradiaestudantilrc">
                        <span><i class="fab fa-facebook-square"></i></span></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{url_for('login')}}" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="nome" placeholder="username">
                            
                        </div>
					<div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
                        <input type="password" name="hjasfd" class="form-control" placeholder="password">

					</div>
					<!-- <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
					</div> -->
					<div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Não tem acesso?<a href="#">Solicite</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Esqueceu a senha vacilão?</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}