{% extends "base.html" %}

{% block styles %}
    .fb-post{
        background: rgba(200, 210, 200, 0.9);
        color: green;
    }
{% endblock styles %}
{% block paginas %}
</p>
<div class="container d-flex justify-content-center">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v7.0"
    nonce="cOaMi6Lw"></script>
<div class="fb-post center" data-href="https://www.facebook.com/moradiaestudantilrc/posts/928154987599285"
    data-show-text="true" data-width="">
    <blockquote cite="https://developers.facebook.com/moradiaestudantilrc/posts/928154987599285"
        class="fb-xfbml-parse-ignore">
        <p class="teste">A Moradia Estudantil da UNESP de Rio Claro é um espaço físico cuja infraestrutura é capaz de receber
            estudantes pobres...</p>Publicado por <a href="https://www.facebook.com/moradiaestudantilrc/">Moradia
            Estudantil Unesp Rio Claro</a> em&nbsp;<a
            href="https://developers.facebook.com/moradiaestudantilrc/posts/928154987599285">Terça-feira, 4 de fevereiro
            de 2020</a>
    </blockquote>
</div>
</div>

{% endblock %}