{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mapa.css') }}"" />
{% endblock head %}

{% block paginas %}


<div class=" moradia">
{% for casa in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'] %}

<div class="casa card" style="width: 10rem;">
    <h5 class="card-title">Casa {{casa}}</h5>

    {% for quarto in '1234' %}

    <div class="quarto">
        <h6 class="card-subtitle mb-2 ">Quarto: {{quarto}}</h6>

        <div class="cama">
            {% if vagas.get(casa+quarto): %}
            {% for cama in vagas.get(casa+quarto) %}

            <div class="morador">
                <button id = {{cama.id}} class="pessoa btn-block border border-success btn btn-secondary btn-sm"
                    name="nome" value="{{vagas.get(casa+quarto)}}">{{cama.nome}}</button>
            </div>
            {%endfor%}
            {%else%}
            <div class="morador">
                <b>Vazio</b>

            </div>
            {%endif%}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
</div>

<script type="text/python" src="{{ url_for('static', filename='mapa.py') }}">
</script>
{% endblock %}