{% extends "base.html" %}

{% block paginas %}

{% if status == "Sucess" %}
<h3>Deletado com sucesso.</h3>
{% elif status == 1 %}
{% else %}
<h2>Erro:</h2>
<h3>{{status}}</h3>
{% endif %}
<div>
    <h4>Selecione para deletar</h4>
    {% for morador in result %}
    
    <div>
        <form action="" method="post"><button name="cvvbn4jk" value="{{morador.id}}">{{morador}}</button> </form>
    </div>
    {%endfor%}
    
</div>

{% endblock %}