{% extends "base.html" %}

{% block paginas %}
{% for morador in result %}

    
        <div>
                <button id="{{morador.id}}" class="hum" name="nome"  value="{{morador.nome}}"><b>{{morador.nome}} </b></button> Casa: {{morador.vaga_id[:2]}} Quarto: {{morador.vaga_id[2:]}} 
            
        </div>
        
        {% endfor %}

        <script type="text/python">
        from browser import document,bind
        from browser.widgets.dialog import InfoDialog
        from browser.ajax import Ajax
        from browser.widgets.menu import Menu
        
        
        @bind("button","click")
        def menu(ev):
            id = ev.currentTarget.id
            menu = <Menu></Menu>



        @bind("button","click")
        def open(ev):
        
            a = Ajax()
            

            a.open("POST","{{url_for('morador.procura2')}}",True)
            a.send({'1':ev.currentTarget.id})
        </script>
        {% endblock %}
        