{% extends "base.html" %}

{% block paginas %}

{% if status %}
<h3>{{status}}</h3>
{% endif %}

    {% if request %}
    <form action="" method="post">
        <label for="nome">Nome:
            <input type="text" name="nome" id="">
        </label>
        <label for="casa">Casa:
            <select name="casa" id="">
                {% for i in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'] %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </label>
        <label for="quarto">Quarto:
        <select name="quarto" id="">
                {% for i in range(1,5) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
        </label>
        <input type="submit" value="enviar">
    </form>
    {% else %}
    <h3>Incluido {{query}}</h3>
    <div> <a href="#">Adicionar em vaga</a> </div>
    <div> <a href="/morador/novo">Novo</a> </div>
    <div> <a href="/morador/">Menu</a> </div>
    <div> <a href="/">Home</a> </div>
    {% endif %}

{% endblock %}