{% extends "base.html" %}

{% block paginas %}

{% if not error %}
<h1>Sucesso</h1>
<h3><a type="button" href="{{url_for("vagas.mapa")}}"">Ver Mapa</a></h3>
{% elif error==1 %}
{%else%}
<h1>Erro:</h1>
<h3>{{error}}</h3>
{% endif %}



<form action="/chg_bed" method="post">
    <label for="a_g_v!">
        Vaga 1: 
    </label><input type="text" name="a_g_v!" id="">
    <label for="a_g_v@">
        Vaga 2: 
    </label><input type="text" name="a_g_v@" id="">
    <input type="submit" value="Trocar">
</form>






{% endblock %}
